.ame-code-editor-control-wrap {
	//Automatically resize CodeMirror to fit the contents.
	.CodeMirror {
		height: auto;
	}
	.CodeMirror-scroll {
		overflow-y: hidden;
		overflow-x: auto;
		min-height: 100px;
	}
}