.ame-rui-redirect-list {
  display: flex;
  flex-direction: column;
  padding-top: 1px;
}

.ame-rui-redirect {
  display: flex;
  flex-direction: row;
  background: #fff;
  border: 1px solid #dcdcde;
  margin-top: -1px;
}
.ame-rui-redirect.ui-sortable-helper {
  border: 1px solid #8c8f94;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.ame-rui-redirect-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0;
}

.ame-rui-actor {
  margin-right: 10px;
  font-size: 14px;
  line-height: 27px;
}

.ame-rui-url-template, ame-redirect-url-input {
  flex-grow: 1;
  display: block;
  margin-right: 10px;
  position: relative;
}
.ame-rui-url-template input[type=text], ame-redirect-url-input input[type=text] {
  width: 100%;
}
.ame-rui-url-template input[type=text].ame-rui-has-url-dropdown, ame-redirect-url-input input[type=text].ame-rui-has-url-dropdown {
  padding-right: 32px;
}
.ame-rui-url-template input[readonly], ame-redirect-url-input input[readonly] {
  background-color: #dbeeff;
}

.ame-rui-url-dropdown-trigger {
  display: block;
  position: absolute;
  width: 30px;
  height: 28px;
  top: 1px;
  right: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #787c82;
}
.ame-rui-url-dropdown-trigger:hover {
  color: #1d2327;
}
.ame-rui-url-dropdown-trigger .am-rui-trigger-icon:before {
  content: "\f140";
  font: normal 20px dashicons;
  line-height: 28px;
  vertical-align: middle;
}

.ame-rui-shortcodes-enabled {
  margin: 0 10px 0 0;
  display: inline-block;
  box-sizing: border-box;
  min-height: 30px;
  padding: 0 10px;
  line-height: 28px;
  border: 1px solid #dcdcde;
  border-radius: 3px;
  background: #f6f7f7;
}
.ame-rui-shortcodes-enabled .dashicons {
  vertical-align: top;
  line-height: 28px;
}
.ame-rui-shortcodes-enabled:hover, .ame-rui-shortcodes-enabled:active {
  background: #f0f0f1;
  border-color: #0a4b78;
}

.ame-rui-drag-handle {
  cursor: grab;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-sortable-helper > .ame-rui-drag-handle {
  cursor: grabbing;
}

.ame-rui-drag-icon {
  fill: #1e1e1e;
}

#ame-rui-menu-items {
  background-image: none;
  max-width: 40rem;
  padding-right: 8px;
  box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.5);
}
#ame-rui-menu-items:hover, #ame-rui-menu-items:focus {
  color: unset;
}
#ame-rui-menu-items option:hover {
  background-color: #f0f0f5;
}

.ame-rui-default-redirect-container {
  max-width: 768px;
}
.ame-rui-default-redirect-container .ame-rui-redirect-content {
  padding-left: 10px;
}

.ame-rui-add-actor-dropdown, #ame-rui-user-search-query {
  min-width: 15em;
}

.ame-rui-found-users li.ui-menu-item {
  padding: 0;
}
.ame-rui-found-users .ui-menu-item-wrapper {
  padding: 4px 10px 6px;
}
.ame-rui-found-users .ui-state-active {
  background-color: #2271b1;
  color: #fff;
}

.ame-rui-missing-actor-indicator {
  vertical-align: middle;
  font-style: italic;
}

.ame-rui-trigger-selector {
  display: inline-block;
  margin-bottom: 0;
  list-style: none;
  font-size: 14px;
}
.ame-rui-trigger-selector li {
  display: inline-block;
  margin: 0;
}
.ame-rui-trigger-selector li a {
  text-decoration: none;
  transition: none;
}

.ame-rui-small-tabs {
  display: inline-block;
  padding-left: 7px;
  border-bottom: 1px solid #c3c4c7;
}
.ame-rui-small-tabs li {
  display: inline-block;
  margin: 0;
  background: #e3e3e5;
  border: 1px solid #c3c4c7;
  border-bottom: none;
}
.ame-rui-small-tabs li a {
  display: inline-block;
  transition: none;
  min-width: 7em;
  font-size: 14px;
  padding: 5px 8px 6px 8px;
  cursor: pointer;
  text-decoration: none;
  color: #444;
}
.ame-rui-small-tabs li a:hover {
  color: #2271b1;
}
.ame-rui-small-tabs .ame-rui-active-tab {
  background: transparent;
  border-bottom: 1px solid #f0f0f1;
  margin-bottom: -1px;
}
.ame-rui-small-tabs .ame-rui-active-tab a {
  color: #000;
}
.ame-rui-small-tabs .ame-rui-active-tab a:hover {
  color: #000;
}

.ame-rui-filter-like-tabs {
  display: inline-flex;
  margin: 13px 0 0 0;
  list-style: none;
  border: 1px solid #c3c4c7;
  background: #fff;
}
.ame-rui-filter-like-tabs li {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-style: none;
}
.ame-rui-filter-like-tabs li a {
  display: inline-block;
  margin: 0;
  padding: 10px 14px;
  min-width: 7em;
  border: none;
  border-bottom: 4px solid transparent;
  color: #646970;
  text-decoration: none;
  cursor: pointer;
}
.ame-rui-filter-like-tabs li a:hover {
  color: #135e96;
  border-bottom-color: transparent;
}
.ame-rui-filter-like-tabs .ame-rui-active-tab a {
  border-bottom-color: #007cba;
}
.ame-rui-filter-like-tabs .ame-rui-active-tab a:hover {
  color: #646970;
  border-bottom-color: #007cba;
}

.ame-rui-sub-tabs {
  margin-top: 6px;
  font-size: 13px;
}
.ame-rui-sub-tabs li::after {
  content: "|";
}
.ame-rui-sub-tabs li:last-child::after {
  content: "";
}
.ame-rui-sub-tabs li a {
  display: inline-block;
  text-align: center;
  padding: 0.2em;
  line-height: 2;
  cursor: pointer;
}
.ame-rui-sub-tabs li a::before {
  display: block;
  content: attr(data-text);
  font-weight: bold;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: -1px;
}
.ame-rui-sub-tabs li:first-child a {
  padding-left: 0;
  text-align: left;
}
.ame-rui-sub-tabs .ame-rui-active-tab a {
  font-weight: 600;
  color: #000;
}

.ame-rui-actions button .dashicons {
  vertical-align: inherit;
  line-height: 28px;
}

#ame-rui-column-container {
  display: flex;
  flex-direction: row;
}

#ame-rui-main-section {
  display: block;
  flex-grow: 1;
  max-width: 1320px;
}

#ame-rui-sidebar {
  display: none;
  width: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: flex-start;
  margin-left: 20px;
}

#ame-rui-main-actions {
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-bottom: 20px;
  margin-bottom: 0;
  padding: 10px 8px;
  border: 1px solid #ccd0d4;
}
#ame-rui-main-actions .ws-ame-postbox-header {
  position: relative;
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
  border: 1px solid #ccd0d4;
}
#ame-rui-main-actions .ws-ame-postbox-header h3 {
  padding: 10px 12px;
  margin: 0;
  font-size: 1em;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#ame-rui-main-actions .ws-ame-postbox-toggle {
  color: #72777c;
  background: #fff;
  display: block;
  font: normal 20px/1 dashicons;
  text-align: center;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 100%;
  padding: 0;
}
#ame-rui-main-actions .ws-ame-postbox-toggle:hover {
  color: #23282d;
}
#ame-rui-main-actions .ws-ame-postbox-toggle:active, #ame-rui-main-actions .ws-ame-postbox-toggle:focus {
  outline: none;
  padding: 0;
}
#ame-rui-main-actions .ws-ame-postbox-toggle:before {
  content: "\f142";
  display: inline-block;
  vertical-align: middle;
}
#ame-rui-main-actions .ws-ame-postbox-toggle:after {
  display: inline-block;
  content: "";
  vertical-align: middle;
  height: 100%;
}
#ame-rui-main-actions .ws-ame-postbox-content {
  border: 1px solid #ccd0d4;
  border-top: none;
  padding: 12px;
}
#ame-rui-main-actions.ws-ame-closed-postbox .ws-ame-postbox-content {
  display: none;
}
#ame-rui-main-actions.ws-ame-closed-postbox .ws-ame-postbox-toggle:before {
  content: "\f140";
}
#ame-rui-main-actions input.button {
  max-width: 150px;
  width: 100%;
}

@media only screen and (min-width: 961px) {
  .ame-rui-actor {
    min-width: 12em;
  }

  .ame-rui-actions button .dashicons {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .ame-rui-actor {
    min-width: 10em;
  }

  .ame-rui-shortcodes-enabled .ame-rui-button-label, .ame-rui-actions .ame-rui-button-label {
    display: none;
  }
}
@media only screen and (max-width: 782px) {
  .ame-rui-actor {
    line-height: 38px;
  }

  .ame-rui-redirect .ame-rui-actions button {
    margin-bottom: 0;
  }
  .ame-rui-redirect .ame-rui-actions button .dashicons {
    line-height: 38px;
    vertical-align: top;
  }

  .ame-rui-shortcodes-enabled {
    line-height: 38px;
  }
  .ame-rui-shortcodes-enabled .dashicons {
    vertical-align: top;
    line-height: 38px;
  }
}

/*# sourceMappingURL=redirector.css.map */
