/* just code */
.spoiler{
	background:#000000;
	border-radius:5px;
	padding: 4px 5px 3px 5px;
	margin: 0 5px;
	font-weight:bold;
	color:#FFFFFF;
	cursor:pointer;
}
.spoiler-open{
	background:#FFDEDE;
	border-radius:5px;
	padding:5px;
}
.spoiler > .hidden-content{
	display: none;
}