.sc_subscribe_list {
  padding:10px 20px;
  font-family:"museo";
  font-weight:bold;
  font-size:13px;
}

.sc_subscribe_list_element {
  width:100%;
  margin-bottom:5px;
}

.sc_subscribe_list_element_title,
.sc_subscribe_list_unsubscribe,
.sc_subscribe_list_comment_count {
  display: inline-block;
  border-radius: 5px;
}

.sc_subscribe_list_email_no {
  display:none;
  background-color:black;
}

.sc_subscribe_list_email_ok {
  display:none;
}

.sc_subscribe_list_display {
  display: inline-block;
}

.sc_subscribe_list_comment_count {
  display:inline-block;
  color:#7D7874;
  background-color: #ffd200;
  border-radius:5px;
  padding:0px 5px;
  margin-left:5px;
  float:right;
}
.sc_subscribe_list_element_title {
  background-color: #f56e00;
  width: 45%;
  color:white;
  padding:5px 2%;
}

.sc_subscribe_list_email_ok,
.sc_subscribe_list_email_no {
  border-radius:5px;
  text-align:center;
  cursor:pointer;
  background-color: #04b404;
  width: 26%;
  color:white;
  padding:5px 2%;
}
.sc_mark_as_read_container {
  text-align:center;
}
.sc_mark_as_read {
  border-radius:5px;
  cursor:pointer;
  display:inline-block;
  margin:0 auto;
  font-size: 18px;
  background-color:#c00;
  color:white;
  padding:3px 10px;
}
.sc_mark_as_read:hover {
  background-color:#f60;
}
.sc_subscribe_list_email_ok {
  background-color:black;
}

.sc_subscribe_list_unsubscribe {
  text-align: center;
  border-radius:5px;
  cursor:pointer;
  background-color: #b40431;
  width: 14%;
  color:white;
  padding:5px 2%;
}

.sc_subscribe_list_unsubscribe:hover {
  background-color: #740300;
}

.sc_subscribe_list_email_no:hover {
  background-color: #555;
}

.sc_subscribe_list_email_ok:hover {
  background-color: #049404;
}

.sc_subscribe_list_element_title:hover {
  background-color:#c56e00;
}

.sc_subscribe_list_element a {
  text-decoration: none;
}

.sc_h_subscribe_list_element {
  width: 100%;
  margin-bottom: 5px;
  font-size:14px;
}
.sc_h_subscribe_list_element div{
  display: inline-block;
  //text-align:center;
}
.sc_h_subscribe_list_element_title {
  border-radius:5px;
  height:20px;
  width: 45%;
  color:black;
  padding:5px 2%;
  background-color:#ddd;
}


.sc_h_subscribe_list_mail {
  border-radius:5px;
  height:25px;
  width: 26%;
  color:black;
  padding:5px 2%;
  background-color:#ddd;
}

.sc_h_subscribe_list_unsubscribe {
  height:25px;
  width: 14%;
  color: black;
  padding:2%;
  background-color:#ddd;
}
