.sc_plus {
  display:none;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.1);
  font-family: museo;
  color: #666;
  font-weight:bold;
  border-radius: 3px;
  background-color:white;
}
.sc_minus {
  display:none;
  background-color:white;
  color: #999;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.1);
  font-family: museo;
  font-weight:bold;
  border-radius: 3px;
}
.sc_subscribe_button img {
  width:50px;
  height:50px;
  margin:0;
}

.sc_subscribe_button {
  text-align:right;
  display:block;
}

.sc_minus:hover,
.sc_plus:hover {
  background-color:#fafafa;
  color: #666;
}

.sc_display{
  display:inline-block;
}

.sc_notice {
  display:inline-block;
  margin-left:5px;
}
