#yarpp_author_text {
  width: 900px;
}

.yarpp-red {
  color: #dc3232;
}

.yarpp-no-float {
  float: none;
  margin-bottom: 5px;
}

.form-table td {
  line-height: 11px; /* to match the th's */
}

ul.yarpp_contacts li {
  padding: 0px 0px 0px 30px;
  line-height: 22px;
}

body.rtl ul.yarpp_contacts li {
  padding: 0px 30px 0px 0px;
}

ul.yarpp_contacts li a img {
  vertical-align: bottom;
}

/* hide pointer dismiss buttons on this page */
.postbox .wp-pointer-buttons {
  display: none;
}

#tab-panel-faq,
#tab-panel-dev {
  direction: ltr;
}

.icon {
  width: 22px;
  height: 22px;
  position: absolute;
  margin-left: -29px;
  margin-top: -1px;
  background-image: url('../images/sprites.png');
}

body.rtl .icon {
  margin-left: none;
  margin-right: -29px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon {
    background-image: url('../images/sprites-2x.png');
    background-size: 132px 22px;
  }
}

.icon-wordpress {
  background-position: 0 0;
}

.icon-twitter {
  background-position: -22px 0;
}

.icon-plugin {
  background-position: -44px 0;
}

.icon-star {
  background-position: -66px 0;
}

.icon-pro {
  background-position: -88px 0;
}

.icon-facebook {
  background-position: -110px 0;
}

.icon.spin,
.icon-star:hover {
  transform-origin: 11px 12px;
  -o-transform-origin: 11px 12px;
  -webkit-transform-origin: 11px 12px;
  -moz-transform-origin: 11px 12px;
  animation: 3s ease 2s normal none 1 yarpp-spin;
  -o-animation: 3s ease 2s normal none 1 yarpp-spin;
  -webkit-animation: 3s ease 2s normal none 1 yarpp-spin;
  -moz-animation: 3s ease 2s normal none 1 yarpp-spin;
  z-index: 1;
}

@keyframes yarpp-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  5% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@-moz-keyframes yarpp-spin {
  0% {
    -moz-transform: rotate(0deg) scale(1);
  }
  5% {
    -moz-transform: rotate(0deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes yarpp-spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
  }
  5% {
    -webkit-transform: rotate(0deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
  }
}

a.info {
  position: relative;
  z-index: 24;
}

.yarpp_help .wp-pointer-content p {
  text-align: left;
  font-family: sans-serif;
}

a.yarpp_help {
  text-decoration: none;
  cursor: pointer;
}

a.yarpp_help:hover {
  text-decoration: none;
  background-position: -520px -0px;
}

.exclude_terms span {
  display: inline-block;
}

#yarpp_display_optin.yarpp_attention {
  border: 2px solid #bbb;
}

.yarpp_subbox {
  margin-bottom: 5px;
  background: #fdfdfd;
}

.yarpp_form_row {
  overflow: visible;
  padding: 8px;
}

.yarpp_form_row > div {
  display: inline-block;
  vertical-align: top;
}

.yarpp_form_row > div > label {
  vertical-align: baseline;
}

.yarpp_form_checkbox > div {
}

.yarpp_form_select > div {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.yarpp_form_select + .yarpp_form_select {
  padding-top: 0px;
}

.yarpp_form_label {
  width: 25%;
}

.yarpp_form_label + div {
  padding-left: 16px;
  width: 70%;
}

.yarpp_form_textbox > .yarpp_form_label {
}

.yarpp_form_select > .yarpp_form_label {
  padding-top: 8px;
}

.yarpp_form_post_types label {
  padding-right: 15px;
  line-height: 20px;
  display: inline-block;
}

body.rtl .yarpp_form_post_types label {
  padding-right: inherit;
  padding-left: 15px;
}

.yarpp_form_exclude label {
  padding-right: 5px;
  line-height: 15px;
}

body.rtl .yarpp_form_exclude label {
  padding-right: inherit;
  padding-left: 5px;
}

.yarpp_form_template_file > .yarpp_form_label {
  vertical-align: top;
  padding-top: 5px;
}

.yarpp_code_display {
  border-left: 8px transparent solid;
  width: 50%;
  float: right;
}

body.rtl .yarpp_code_display {
  float: left;
}

.yarpp_code_display div {
  overflow: auto;
  max-height: 300px;
}

.yarpp_code_display pre {
  direction: ltr;
}

.yarpp_scroll_wrapper {
  overflow: auto;
  min-height: 25px;
  max-height: 100px;
  width: 60%;
  vertical-align: middle;
}

@media all and (max-width: 1200px) {
  .yarpp_scroll_wrapper {
    width: 50%;
  }
  .yarpp_code_display {
    max-width: 60%;
  }
}

#yarpp-optin-learnmore {
  float: right;
}

body.rtl #yarpp-optin-learnmore {
  float: left;
}

.template_file_wrap,
.template_author_wrap,
.template_description_wrap {
  margin: 3px 0;
}

.template_file_wrap {
  font-family: monospace;
}

.yarpp_subbox input[type='text'],
.yarpp_subbox input[type='text'] {
  font-family: monospace;
  width: 35%;
}

.yarpp_form_template_buttons {
  padding: 0px;
}

.yarpp_template_button {
  position: relative;
  height: 60px;
  width: 70px;
  padding: 8px;
  -webkit-border-radius: 3px;
  border-radius: 7px;
  border: 1px solid #aaa;
  margin: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #f3f3f3;
  background-image: -webkit-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image: -o-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
  color: #333;
  text-shadow: 0 1px 0 white;
  -webkit-box-shadow: 1px 1px 7px 1px #bbb;
  box-shadow: 1px 1px 7px 1px #bbb;
}

.yarpp_template_button.disabled,
.yarpp_template_button.disabled:hover,
.yarpp_template_button.disabled:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ddd;
  background: #f3f3f3;
  background-image: -webkit-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image: -o-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
}

.yarpp_template_button.disabled > div.label {
  color: #bbb;
}

.yarpp_template_button:hover {
  border-color: #999;
  color: #222;
}

.yarpp_template_button:active,
.yarpp_template_button.active {
  background: #eee;
  background-image: -webkit-linear-gradient(to bottom, #eee, #f4f4f4);
  background-image: -moz-linear-gradient(to bottom, #eee, #f4f4f4);
  background-image: -o-linear-gradient(to bottom, #eee, #f4f4f4);
  background-image: linear-gradient(to bottom, #eee, #f4f4f4);
  border-color: #999;
  text-shadow: 0 -1px 0 white;
  -webkit-box-shadow: inset 0 2px 8px -2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 8px -2px rgba(0, 0, 0, 0.5);
}

.yarpp_template_button > div.label {
  width: 70px;
  bottom: 8px;
  text-align: center;
  position: absolute;
}

.yarpp_template_button > div.image {
  width: 70px;
  height: 40px;
  background-image: url('../images/template-buttons-2x.png');
  background-size: 210px 40px;
  opacity: 0.8;
}

.yarpp_template_button.disabled > div.image {
  opacity: 0.2;
}

.yarpp_template_button:active > div.image {
  opacity: 1;
}

.yarpp_template_button[data-value='builtin'] > div.image {
  background-position: 0px 0px;
}

.yarpp_template_button[data-value='thumbnails'] > div.image {
  background-position: -70px 0px;
}

.yarpp_template_button[data-value='custom'] > div.image {
  background-position: -140px 0px;
}

#optin_data_frame {
  overflow: scroll;
  max-height: 300px;
  direction: ltr;
}

#yarpp_extra_screen_settings {
  border-top: 1px solid #e0e0e0;
}

.help-tab-content {
  max-height: 500px;
  width: 100%;
  overflow: auto;
}

.yarpp_red {
  color: red;
  font-weight: bold;
}

.yarpp_separated {
  display: inline-block;
  margin: 1.5em 1em;
}

.yarpp-callout {
  margin: 5px 0 15px;
  border: 1px solid #ccd0d4;
  border-left-width: 4px;
  padding: 1px 12px;
}
.yarpp-notice {
  border-left-color: #ffb900;
}
.yarpp-disabled {
  color: #a7aaad !important;
  background: #f6f7f7 !important;
  border-color: #dcdcde !important;
  box-shadow: none !important;
  text-shadow: none !important;
  cursor: not-allowed !important;
}

.yarpp-preview__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yarpp-preview__title {
  align-self: flex-start;
}

#yarpp-display-html-preview {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  height: 660px;
  width: 100%;
  border: solid 1px #e4e4e7;
  background-color: #fafafa;
}

#yarpp-display-code-preview {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #e4e4e7;
  border-top: none;
}

#yarpp-display-code-preview pre code {
  font-size: 0.9em;
  display: block;
  padding: 16px;
  max-height: 320px;
  white-space: pre-wrap;
  overflow-y: auto;
  background-color: #fafafa;
}

.yarpp-preview__wrapper .yarpp-preview__iframe__container {
  position: relative;
  max-width: calc(100% - 60px); /* 20px size of after selector 40px of backdrop padding*/
  min-width: 320px; /* Most common Mobile size */
  height: calc(100% - 72px); /* minus 72px size of margins */
  margin: 36px auto;
  padding-right: 20px;
  border: 12px solid #374151;
  border-radius: 12px;
}

.yarpp-preview__wrapper .yarpp-preview__iframe__backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  user-select: none;
  outline: 0;
  cursor: col-resize;
}

.yarpp-preview__wrapper .yarpp-preview__iframe__container:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z" /></svg>');
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background-color: #f3f4f6;
  border-left: 1px solid #d1d5db;
  cursor: col-resize;
}

.yarpp-preview__wrapper .yarpp-preview__dragger {
  height: 100%;
  width: 20px;
  background-color: red;
}

.yarpp-preview__media__controls {
  display: none;
  height: 100px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 160px);
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid #e4e4e7;
}

.yarpp-preview__show-code {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  height: 64px;
  margin-left: 1rem;
}

.yarpp-preview__show-preview-width {
  text-align: center;
}

#yarpp-preview-desktop {
  display: none;
}

@media screen and (min-width: 767px) {
  .yarpp-preview__media__controls {
    display: grid;
  }
  #yarpp-display-html-preview {
    grid-template-rows: auto 1fr auto;
  }
}

@media screen and (min-width: 1200px) {
  .yarpp-preview__media__controls {
    display: grid;
    height: 64px;
  }

  #yarpp-preview-desktop {
    display: block;
  }

  #yarpp-display-html-preview {
    grid-template-rows: auto 1fr auto;
    height: 720px;
  }
}
