.yarpp-related {
    margin-top: 1em;
    margin-bottom: 1em;
}

.yarpp-related a {
    text-decoration: none;
    font-weight: bold;
}

.yarpp-related .yarpp-thumbnail-title {
    text-align: left;
    font-weight: bold;
    font-size: 96%;
    text-decoration: none;
}

.yarpp-related h3 {
    font-weight: bold;
    padding: 0 0 5px 0;
    font-size: 125%;
    text-transform: capitalize;
    margin: 0;
}
