.wapt-logo-title
{
    display: inline-block;
    background: transparent url('../img/logo.jpg') no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 10px;
}

.apt_pro_advertisement
{
    float: right;
    width: 230px;
    margin-top: 15px;
    margin-right: -240px;
    border: medium none;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    padding: 5px 5px 15px 5px;
    background: #fff;
}

.apt_pro_logo
{
    float: left;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    border-radius: 3px;
}

.apt_pro_logo img
{
    border-radius: 3px;
}

.apt_pro_check_out
{
    float: left;
    font-size: 35px;
    line-height: 35px;
    width: 120px;
    padding-top: 10px;
    text-align: center;
    font-family: message-box;
    color: #EEEEEE;
    text-shadow: 1px 1px 2px #000000;
}

.apt_pro_features
{
    padding-left: 10px;
    clear: both;
}

.apt_pro_features ul
{
    list-style: disc inside;
}

.apt_pro_buy_now
{
    text-align: center;
}

.apt_loading
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.apt-loading-image
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

.column-apt-image
{
    width: 100px;
}

.wapt-toolbar
{
    display: grid;
    grid-template-columns: 70% 30%;
    /*grid-column-gap: 10px;*/
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f3f3f3;
    border-top: 1px solid #ddd;
}

.wapt-toolbar-primary
{
    padding: 10px;
    text-align: right;
}

.apt_thumbs
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    width: 100%;
    padding: 10px 0 55px 0;
}

.column-apt
{
    float: left;
    margin: 5px;
}

.wapt-image-box, .wapt-image-box-library
{
    display: flex;
    /*width: 180px;*/
    height: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

.wapt-item-generated
{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: auto;
    padding: 0 15px;
    line-height: 1.3;
}

div.wapt-grid-item
{
    cursor: pointer;
}

.wapt-image-box-checked
{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    box-shadow: inset 0 0 1px 5px #0073aa, inset 0 0 2px 7px #fff;
}

/*
input {
    padding: 7px 7px 7px 9px;
}
*/

/*
.media-frame-menu
{
    display: block !important;
    width: 200px;
}
.media-frame.hide-menu .media-frame-title, .media-frame.hide-menu .media-frame-router, .media-frame.hide-menu .media-frame-toolbar, .media-frame.hide-menu .media-frame-content
{
    left: 200px;
}
*/
/* GUTENBERG */
.apt-sidebar-content
{
    padding: 10px;
}

.btn-gold
{
    font-weight: bold;
    padding: 7px 12px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    border-radius: 2px;
    -moz-border-radius: 2px; /*gecko - mozilla*/
    -webkit-border-radius: 2px; /*new webkit - Chrome and Safari*/
    box-shadow: #e3e3e3 0 1px 1px;
    -moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.1), inset 0px 1px 1px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.1), inset 0px 1px 1px rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 0px #ffe8b2;
    color: #7c5d1b;
    border: 1px solid #d6a437;
    background: #feeb80; /*fallback for non-CSS3 browsers*/
}

.btn-gold:hover,
.btn-gold:focus
{
    background: #fef0a1;
}

.btn-gold:active,
.btn-gold.active
{
    background: #fef0a1;
    -webkit-box-shadow: inset 0 3px 8px 0 #f8ba36;
    box-shadow: inset 0 3px 8px 0 #f8ba36;
}

.purchase-premium
{
    text-decoration: none;
}

.wapt-sup-pro
{
    font-weight: bold;
    color: red;
}

/*Filters block*/
.apt-filter-row
{
}

.apt-filter-input
{
    width: 150px;
}

.apt-filter-label
{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.checked_api_key_ok
{
    border: 2px solid green !important;
}

.checked_api_key_fail
{
    border: 2px solid red !important;
}

.checked_api_key_proccess
{
    background: #fff url('../img/ajax-loader.gif') 98%/25px no-repeat !important;
}

.wapt-pro-row
{
    opacity: 0.5;
}

.wapt-pro-row input, .wapt-pro-row select
{
    pointer-events: none;
}

.wapt-pro-row input + span:before, .wapt-pro-row select + span:before
{
    display: inline-block;
    position: absolute;
    content: 'PRO';
    background: #ff5722;
    border-radius: 4px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    font-style: normal;
    padding: 4px 6px;
    margin-left: 4px;
    vertical-align: top;
    top: -10px;
    left: 0;
    right: auto;
    z-index: 11;
}
