#wpcontent {
    padding-left: 0 !important;
    background-color: white !important;
}

#wpbody-content {
    /*height: 100vh;*/
}

a:active, a:focus {
    outline: none !important;
    box-shadow: none !important;
}

.wapt-container {
    /*padding: 0px 30px 0px 10px;*/
    padding: 1px 0 0 0;
    background-color: #ffffff;
}

.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 2em;
    font-weight: 400;
}

/* Nav */
.tabs nav {
    text-align: left;
    margin-bottom: -4px;
}

.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

.tabs nav ul li {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
    width: 20em;
    background-color: #f1f1f1;
}

.tabs nav ul li:hover {
    background-color: white;
}

.tabs nav li.tab-current {
    border: 1px solid #006303;
    box-shadow: inset 0px 5px 4px -3px #ff7600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
    z-index: 100;
    background-color: #f1f1f1;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: #006303;
}

.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}

.tabs nav a {
    color: #becbd2;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
}

.tabs nav a:hover {
    color: #006303;
}

.tabs nav li.tab-current a {
    color: #006303;
    font-weight: bold;
    outline: none !important;
}

/* Icons */
.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}

.icon-general:before
{
    content: url(../img/settings-icon.png);
}

.icon-import:before
{
    content: url(../img/import-icon.png);
}

.icon-image:before
{
    content: url(../img/image-icon.png);
}

.icon-api:before
{
    content: url(../img/api-icon.png);
}


/* Content */
.content {
    border-bottom: 1px solid #006303;
    border-top: 0;
    background-color: #f1f1f1;
    padding: 10px 30px;
    /*height: 100vh;*/
}

.content section {

    /*padding: 1em 2em;*/
    /*max-width: 1230px;*/
    margin: 0 auto;
}

.content section:before,
.content section:after {
    content: '';
    display: table;
}

.content section:after {
    clear: both;
}

/* Fallback example */
.no-js .content section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid #006303;
}

.content section.content-current {
    display: block;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
    .tabs nav a span {
        display: none;
    }

    .tabs nav a:before {
        margin-right: 0;
    }
}

@media screen and (max-width: 32em) {
    .tabs nav ul,
    .tabs nav ul li a {
        width: 100%;
        padding: 0;
    }

    .tabs nav ul li {
        width: 20%;
        width: calc(20% + 1px);
        margin: 0 0 0 -1px;
    }

    .tabs nav ul li:last-child {
        border-right: none;
    }
}

.tabs nav li a {
    color: #006303;
    text-decoration: none;
    outline: none !important;
}

.tabs nav li a:hover {
    font-weight: bold;
}

p.info {
    text-align: center;
    padding: 20px;
}

.wapt-page-title {
    text-align: center;
    padding: 10px 0;
}

.wapt-page-title h1 {
    vertical-align: middle;
    color: #000000;
    text-shadow: 1px 1px 1px #ccc;
}