#commentform .quicktags-toolbar input, div#qt_bbp_reply_content_toolbar {
  width: auto;
  padding: 0.2em 1em;
} 
#media-buttons {
	margin: .5em .5em 0;
}

.quicktags-toolbar {
	border-bottom: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #e9e9e9;
	background-image: -ms-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -moz-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -o-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: -webkit-linear-gradient(bottom,#ddd,#e9e9e9);
	background-image: linear-gradient(bottom,#ddd,#e9e9e9);
	padding: 2px 8px 0;
	min-height: 29px
}

.quicktags-toolbar>div {
	padding: 2px 4px 0
}

.quicktags-toolbar input {
	margin: 2px 1px 4px;
	line-height: 18px;
	display: inline-block;
	min-width: 26px;
	padding: 2px 4px;
	font: 12px/18px Arial,Helvetica,sans-serif normal;
	color: #464646;
	border: 1px solid #c3c3c3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #eee;
	background-image: -ms-linear-gradient(bottom,#e3e3e3,#fff);
	background-image: -moz-linear-gradient(bottom,#e3e3e3,#fff);
	background-image: -o-linear-gradient(bottom,#e3e3e3,#fff);
	background-image: -webkit-linear-gradient(bottom,#e3e3e3,#fff);
	background-image: linear-gradient(bottom,#e3e3e3,#fff)
}

.quicktags-toolbar input:hover {
	border-color: #aaa;
	background: #ddd
}

.quicktags-toolbar input[value="link"] {
	text-decoration: underline
}

.quicktags-toolbar input[value="i"] {
	font-style: italic
}

.quicktags-toolbar input[value="b"] {
	font-weight: bold
}

#smiley_container {
  display:none;
  margin-bottom: 5px;
}

/*
#smiley_container .smiley_smiley:hover {
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #eee;
}

#smiley_container .smiley_smiley:active,
#smiley_container .smiley_smiley:focus {
  background-color:#444;
}

#smiley_container .smiley_tab_header {
  display: flex;
}
*/

#smiley_container ul#smiley_tab_navigation  {
  // display: table;
  display: inline-flex;
  width: 100%;
  cursor: pointer;
}

#smiley_container ul#smiley_tab_navigation lu.smiley_tab_header {
  // display: table-cell;
  display: block;
  margin: 0 auto;
  padding: 4px 15px;
  border: 1px solid #FFF;
}

#smiley_container .smiley_tab_content {
  padding-top: 10px;
  // border: 1px solid #d3d3d3;
  // border-radius: 5px;
}

#smiley_container ul#smiley_tab_navigation lu.smiley_tab_header:hover,
#smiley_container ul#smiley_tab_navigation lu.smiley_tab_header.active {
  // border: 1px solid #d3d3d3;
  border: 1px solid #d5d8df;
  // border-bottom: 1px solid #eaeaea;
  border-bottom: 1px solid #f3f7ff;
  border-radius: 5px 5px 0 0;
}

#smiley_container .smiley_tab_content,
#smiley_container ul#smiley_tab_navigation lu.smiley_tab_header:hover,
#smiley_container ul#smiley_tab_navigation lu.smiley_tab_header.active {
  // background-color: #eaeaea;
  background-color: #f3f7ff;
}

#smiley_container ul#smiley_tab_navigation img.wp-smiley {
  font-size: 32px !important;
}

#smiley_container .smiley_tab_content img.wp-smiley:hover {
  // font-size: 48px !important;
  border: 1px solid black !important;
}

#smiley_container .smiley_tab_content img.wp-smiley {
  border: 1px solid transparent !important;
  font-size: 32px !important;
  margin: 4px !important;
}

