/* Used on the built-in themes page to provide the line under the tabs */
.settings_page_daves-wordpress-live-search-DavesWordPressLiveSearch .wrap h2 {
border-bottom: 1px solid #ccc;
padding-bottom: 0px;
}
#custom_colors label {
display: block;
}
#custom_colors {
	position: relative;
	margin-top: 1em;
	padding: .5em 1em;
	border: 1px solid #888;
	background-color: #ddd;
	webkit-box-shadow: inset 1px 1px 2px rgba(40, 40, 40, .5);
	box-shadow: inset 1px 1px 2px rgba(40, 40, 40, .5);
}
#dwls_design_preview {
	margin: 1em 0;
}
#dwls_design_preview .search_results {
	position: static;
}
#custom_colors:before,
#custom_colors:after {
    content: "";
    display: table;
} 
#custom_colors:after {
    clear: both;
}
#custom_colors {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
