.exactmetrics-wooedd-upsell-left {
	width: 50%;
	display: table-cell;
	float: left;
}

.exactmetrics-wooedd-upsell-right {
	width: 50%;
	display: table-cell;
	float: left;
}

.exactmetrics-wooedd-upsell-image {
	width: 100%;
	height: auto;
	padding: 20px;
}

.exactmetrics-wooedd-upsell-image-small {
	display: none;
}

.exactmetrics-wooedd-upsell-row {
	display: table;
}

.exactmetrics-wooedd-upsell-left p {
	margin: 1em 0;
	font-size: 16px;
}

@media (max-width: 900px) {
	.exactmetrics-wooedd-upsell-left {
		width: 100%;
	}

	.exactmetrics-wooedd-upsell-right {
		display: none;
	}

	.exactmetrics-wooedd-upsell-image-small {
		display: block;
	}

	.exactmetrics-wooedd-upsell-image-large {
		display: none;
	}
}

#wpadminbar .exactmetrics-menu-notification-indicator,
.exactmetrics-menu-notification-indicator {
	min-width: 8px;
	height: 18px;
	border-radius: 9px;
	background: #ca4a1f;
	display: inline-block;
	margin-left: 8px;
	font-size: 11px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: 1.6;
	padding: 0 5px;
}

@media (max-width: 782px) {
	#wpadminbar .exactmetrics-menu-notification-indicator {
		margin: 0 0 10px -13px;
		z-index: 10;
		position: relative;
	}
}
