

ul#fluxophy_widget {
  background: white;
  border: 1px solid #E5E5E5;
  list-style-type: none !important;
  font-size: 12px;
  line-height: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 350px;
  overflow-y: scroll;
}


li.fluxophy_widget {
  border: 1px solid #EFEFEF;
  list-style-type: none !important;
}

div.fluxophy_entry_data {
  letter-spacing: 0px;
  word-spacing: 0px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0 4px 6px;
}

.fluxophy_entry_header img {
  margin: 4px 4px 0 4px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
}

.fluxophy_entry_header a {
  float: right;
  margin: 4px 14px 4px 4px;
  color: #707070;
  text-decoration: none;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.fluxophy_entry_header a:hover {
  color: #0000FF;
  text-decoration: underline;
}




.sc-btn {
  display: inline-block;
  position: relative;
  margin: 0 .25em .5em 0;
  padding: 0;
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -0.1em 0px;
  border: 0;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  background-color: #1a1a1a;
  background-image: -webkit-linear-gradient(top, #595959, #1a1a1a 100%);
  background-image: -moz-linear-gradient(top, #595959, #1a1a1a);
  background-image: -ms-linear-gradient(top, #595959, #1a1a1a);
  background-image: -o-linear-gradient(top, #595959, #1a1a1a);
  background-image: linear-gradient(top, #595959, #1a1a1a);
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px -0.15em 0px, inset rgba(255, 255, 255, 0.2) 0px 0.15em 0px, rgba(0, 0, 0, 0.3) 0px 0.1em 0.3em;
  text-align: center;
  background-repeat: no-repeat;
  -webkit-transition: background-position .1s ease-in-out;
  -webkit-appearance: none;
  cursor: pointer;
  overflow: hidden; }
  .sc-btn:hover {
    color: #fff; }
  .sc-btn:active {
    box-shadow: rgba(255, 255, 255, 0.2) 0 0.1em 0, inset rgba(0, 0, 0, 0.3) 0px 0.25em 1em; }

.sc-icon, .sc-text {
  display: block;
  float: left; }

.sc-icon {
  margin: 0 -.4em 0 0;
  padding: 0.6em .8em .5em;
  border-right: rgba(255, 255, 255, 0.1) 0.1em solid;
  box-shadow: inset rgba(0, 0, 0, 0.1) -0.1em 0px 0px; }


.sc-text {
  padding: .95em 1em .85em 1em;
  font-size: 1.15em;
  color: #fff;
  text-decoration: none;
  text-align: center; }

svg {
  width: 1.8em;
  height: 1.8em;
  fill: #fff; }



.sc--facebook {
  background-color: #33477a;
  background-image: -webkit-linear-gradient(top, #5975ba, #33477a 100%);
  background-image: -moz-linear-gradient(top, #5975ba, #33477a);
  background-image: -ms-linear-gradient(top, #5975ba, #33477a);
  background-image: -o-linear-gradient(top, #5975ba, #33477a);
  background-image: linear-gradient(top, #5975ba, #33477a); }
  .sc--facebook:hover {
    background-color: #304373;
    background-image: -webkit-linear-gradient(top, #6b84c1, #304373 90%);
    background-image: -moz-linear-gradient(top, #6b84c1, #304373);
    background-image: -ms-linear-gradient(top, #6b84c1, #304373);
    background-image: -o-linear-gradient(top, #6b84c1, #304373);
    background-image: linear-gradient(top, #6b84c1, #304373);
    background-color: #4560a5; }
  .sc--facebook:active {
    background-color: #33477a;
    background-image: -webkit-linear-gradient(top, #4a66b0, #33477a 100%);
    background-image: -moz-linear-gradient(top, #4a66b0, #33477a);
    background-image: -ms-linear-gradient(top, #4a66b0, #33477a);
    background-image: -o-linear-gradient(top, #4a66b0, #33477a);
    background-image: linear-gradient(top, #4a66b0, #33477a); }












/*
ul#fluxophy_widget a.facebook_button {
  background-image: linear-gradient(to bottom, #486BB5 0%, #334E87 100%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  height: 30px;
  width: 100%;
}

a.facebook_button {
  -moz-user-select: none;
  background-color: #3E5EA1;
  background-image: linear-gradient(to bottom, #4466AE, #37538D);
  background-repeat: repeat-x;
  border-color: #283D68;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset;
  color: #FFFFFF;
  text-shadow: 0 0 1px #283D68;
}

a.facebook_button:hover, a.facebook_button:focus, a.facebook_button:active, a.facebook_button.active, a.facebook_button.disabled, a.facebook_button[disabled] {
  background-color: #37538D;
  color: #FFFFFF;
}

a.facebook_button:hover, a.facebook_button:focus, a.facebook_button:active, a.facebook_button.active, a.facebook_button.disabled, a.facebook_button[disabled] {
  background-color: #37538D;
  color: #FFFFFF;
}

a.facebook_button:hover, a.facebook_button:focus {
  border-color: #213256;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(5, 15, 30, 0.3);
  text-shadow: 0 1px 1px #213256;
}

a.facebook_button:active {
  border-color: #1E2E4F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
}
*/

