#allticker{
	width: 100%;
	background: #F3F3F3;
	border-top: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	max-height: 40px!important;
}

#bknewsticker{
	background: #F3F3F3;
	margin: 0px;
}
.tickerDate{
	padding-left: 5px;
	padding-bottom: 2px;
	padding-right: 2px;
	background: #5A5A5A;
	color: #ccc;
	font-size: 10px;
	line-height: 39px;
	margin-left: 3px;
}
.tickerLink a, .tickermore a{
	text-decoration: none;
	padding: 0 8px;
	font-size: 12px;

}
.tickerText{
	color: #5A5A5A;
	line-height: 40px;
	font-size: 12px;

}
#bknews-title{
	float: left;
	width: auto;
	height: 40px;
	background: transparent;
	
}
#bknews-title h3{
    color: #fff;
	font-size: 14px;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
    border-right: 20px solid transparent;
    height: 0;
    line-height: 40px;
    padding-left: 5px;
}

@media only screen and (max-width: 480px) {
	#bknews-title{ display: none!important;
	}
@media only screen and (max-width: 320px) {
	#bknews-title{ display: none!important;
	}