.commentSearch .comment{
	border-bottom: 1px dashed #CCCCCC;
	font: 14px/24px museo,Helvetica,Arial;
	margin: 5px 0;
	padding: 0 10px 10px 10px;
	letter-spacing: 0;
}
.commentSearch .comment a{
	width: auto;
	float: left;
	text-decoration: underline;
}
#wp_page_numbers ul li a{
	width: auto;	
}