/*
 * Settings
 */
/*
* hctpc_Settings_Tabs
*/
.hctpc_info {
    color: #888;
    font-size: 13px;
    font-style: italic;
}
div.hctpc_info {
    margin-top: 7px;
    word-break: break-all;
}
.hctpc_info_small {
    font-size: 11px !important;
}
div.updated.hctpc-notice {
    border-left: 4px solid #ffba00;
}
.hctpc_form #postbox-container-2 > div {
    width: calc( 100% - 162px );
    margin-left: 160px;
}
.hctpc_form #postbox-container-2 > div.submit {
    margin-bottom: 20px;
    padding: 0;
}
#hctpc_settings_tabs_wrapper {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    border: none;
    padding: 0;
    background: none;
    font-family: inherit;
}
#hctpc_settings_tabs {
    z-index: 2;
    position: relative;
    width: 159px;
    float: left;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    line-height: inherit;
}
#hctpc_settings_tabs .ui-state-default,
#hctpc_settings_tabs .ui-widget-content .ui-state-default,
#hctpc_settings_tabs .ui-widget-header .ui-state-default {
    border: none;
}
#hctpc_settings_tabs li {
    margin: 0;
    padding: 0;
    float: none;
    background: none;
    white-space: normal;
}
#hctpc_settings_tabs li a {
    display: block;   
    margin:  0 20px;
    padding: 20px 0 20px 25px;
    text-decoration: none;
    color: #666;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: none;
    -webkit-transition: none;
    float: none;
}
#hctpc_settings_tabs li.ui-tabs-active {
    width: 161px;
}
#hctpc_settings_tabs li.ui-tabs-active a,
#hctpc_settings_tabs li a:hover {
    width: 161px;
    margin: -1px 0 0 0;
    border-top: 1px solid #ddd;
    padding: 20px 21px 20px 45px;
    color: #000 !important;
    background: #fff !important;
}
#hctpc_settings_tabs li a:before {
    content: "\f111";
    font-family: 'dashicons';
    font-size: 20px;
    position: absolute;
    left: 20px;
}
#hctpc_settings_tabs li.hctpc-tab-display a:before {
    content: "\f163";
}
#hctpc_settings_tabs li.hctpc-tab-misc a:before {
    content: "\f107";
}
#hctpc_settings_tabs li.hctpc-tab-messages a:before {
    content: "\f348";
}
#hctpc_settings_tabs li:last-child a {
    border-bottom: none;
}
#hctpc_settings_tabs_wrapper .hctpc_tab {
    position: relative;
    padding: 5px 10px 15px;
    width: calc( 100% - 183px );
    float: right;
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
}
.hctpc_tab a {
    color: #0073aa;
}
.hctpc_tab a:hover {
    color: #00a0d2;
}
.hctpc_tab input, .hctpc_tab select, .hctpc_tab textarea, .hctpc_tab button {
    font-family: inherit;
    font-size: inherit;
}
#hctpc_settings_tabs_wrapper .hctpc_tab > *:not(.hctpc_pro_version_bloc):not(.hctpc_tab_sub_label):not(hr):not(.inline) {
    margin-left: 10px;
    margin-right: 10px;
    width: calc( 100% - 20px );
}
#hctpc_settings_tabs_wrapper .hctpc_tab button,
#hctpc_settings_tabs_wrapper .hctpc_tab input[type="submit"],
#hctpc_settings_tabs_wrapper .hctpc_tab input[type="button"] {
    white-space: normal;
    height: auto;
}
.hctpc_form .postbox .hndle {
    cursor: inherit;
}
#poststuff h3.hctpc_tab_label {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}
.hctpc_tab_sub_label {
    font-weight: bold;
    background-color: #f1f1f1;
    padding: 7px 10px;
    margin-top: 10px;
    font-size: 15px;
}
.hctpc_tab .form-table textarea {
    width: 100%;
}
#poststuff h3.hctpc_tab_label + hr {
    margin-top: 18px;
}
.hctpc_tab_description + hr {
    margin-top: 15px;
}
.rtl #hctpc_settings_tabs {
    float: right;
    border-right: 1px solid #ddd;
    border-left: none;
}
.rtl #hctpc_settings_tabs li a {
    padding: 20px 25px 20px 0;
}
.rtl #hctpc_settings_tabs li.ui-tabs-active a,
.rtl #hctpc_settings_tabs li a:hover {
    padding: 20px 45px 20px 20px;
}
.rtl #hctpc_settings_tabs li a:before {
    right: 20px;
}
.rtl .hctpc_form #postbox-container-2 > div {
    margin-right: 160px;
    margin-left: 0;
}
.hctpc_margined_box {
    margin: 1em 0;
}
@media only screen and (max-width: 1100px) {
    #hctpc_settings_tabs {
        width: 59px;
    }    
    #hctpc_settings_tabs li a {
        margin: 0;
        padding: 20px 0;
        width: 60px;
        height: 60px;
    }
    #hctpc_settings_tabs li.ui-tabs-active a,    
    #hctpc_settings_tabs li a:hover,
    .rtl #hctpc_settings_tabs li.ui-tabs-active a,
    .rtl #hctpc_settings_tabs li a:hover {
        padding: 20px 0;
        height: 61px;
    }
    #hctpc_settings_tabs li.ui-tabs-active,
    #hctpc_settings_tabs li.ui-tabs-active a,
    #hctpc_settings_tabs li a:hover {
        width: 61px;
    }
    #hctpc_settings_tabs_wrapper .hctpc_tab {
        width: calc( 100% - 83px );
    }
    #hctpc_settings_tabs span {
        display: none;
    }
    .hctpc_form #postbox-container-2 > div {
        margin-left: 60px;
        width: calc( 100% - 62px );
    }
    .rtl .hctpc_form #postbox-container-2 > div {
        margin-right: 60px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 850px) {
    .hctpc_form #postbox-container-2 > div,
    .rtl .hctpc_form #postbox-container-2 > div {
        width: calc( 100% - 2px );
        margin: 0;
    }
    .hctpc_form #postbox-container-2 .postbox {
        margin-bottom: 20px;
    }
    .hctpc_form .postbox-container div.submit {
        display: none;
    }
}
@media screen and (max-width: 782px) {
    .hctpc-hide-for-mobile {
        display: none;
    }
}
@media screen and (max-width: 440px) {
    #hctpc_settings_tabs_wrapper .hctpc_tab .form-table td input[type=file] {
        width: 182px;
    }
    #hctpc_settings_tabs_wrapper .hctpc_tab .form-table td input[type=text]:not(.small-text),
    #hctpc_settings_tabs_wrapper .hctpc_tab .form-table td input[type=password],
    #hctpc_settings_tabs_wrapper .hctpc_tab .form-table td input[type=search],
    #hctpc_settings_tabs_wrapper .hctpc_tab .form-table td input[type=number]:not(.small-text),
    #hctpc_settings_tabs_wrapper .hctpc_tab .form-table td select,
    #hctpc_settings_tabs_wrapper .hctpc_tab .form-table td textarea {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
/* The list of packages in the "Used Packages" option */
#hctpc_show_packages_pro_tab {
	display: none;
}
.hctpc_tabs_package_list {
	position: relative;
	display: inline-block;
	height: 200px;
	min-height: 200px;
	width: 100%;
	max-width: 500px;
}
.hctpc_tabs_package_list ul {
	display: inline-block;
	width: 100%;
	margin: 0;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.hctpc_tabs_package_list ul li:hover {
	background: #e0f1f8;
}
.hctpc_tabs_package_list ul li {
	padding: 3px 5px 3px 9px;
	margin: 0;
	display: block;
}
.hctpc_tabs_package_list ul li span {
	display: table-cell;
	vertical-align: middle;
}
.hctpc_tabs_package_list ul img {
	width: 40px;
	height: auto;
	margin: 0 10px;
	border: 1px solid #ccc;
}
.hctpc_tabs_package_list .ui-resizable-handle {
	bottom: -11px;
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	font-size: 24px;
	color: #ccc;
}
.hctpc_tabs_package_list .ui-resizable-se {
	right: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: se-resize;
}
.hctpc_tabs_package_list .ui-resizable-sw {
	left: -18px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	cursor: sw-resize;
}
.hctpc_tabs_package_list_items li span:first-child {
	padding-left: 5px;
}

/*
 * Packages tab
 */
.hctpc_install_package_wrap {
	padding: 0 15px;
}
.hctpc_install_package_wrap .wp-upload-form {
	display: inline-block;
}
.hctpc_package_list .has-media-icon img {
	max-width: 40px;
	height: auto;
	vertical-align: top;
	margin: 0 9px 0 0;
	float: left;
}
.hctpc_add_ons_link {
    display: inline-block;
    position: relative;
    margin: 0 30px;
    text-decoration: none;
    z-index: 10;
}
/*
 * RTL styles
 */
.rtl .hctpc_tabs_package_list {
	right: 0;
	padding-right: 0;
}
.rtl table.hctpc_package_list .media-icon {
	float: right;
}
.rtl table.hctpc_package_list .media-icon img {
	margin: 0 0 0 9px;
}
.rtl .hctpc_tabs_package_list_items li span:first-child {
	padding-left: 0;
	padding-right: 5px;
}

@media only screen and ( max-width: 1024px ) {
	.hctpc_tabs_package_list {
		max-width: 280px;
	}
	.hctpc_tabs_package_list.ui-resizable {
		margin-bottom: 40px;
	}
	.hctpc_tabs_package_list .ui-resizable-handle {
		width: 40px;
		height: 40px;
		font-size: 48px;
	}
	.hctpc_tabs_package_list .ui-resizable-se {
		bottom: -40px;
		right: 8px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		cursor: ns-resize;
	}
	.rtl .hctpc_tabs_package_list .ui-resizable-sw {
		bottom: -45px;
		left: 0;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		cursor: ns-resize;
	}
}

@media only screen and ( max-width: 782px ) {
	#hctpc_whitelist_search p.search-box {
		position: static;
	}
	#hctpc_whitelist .tablenav.top {
		display: none;
	}
	#hctpc_whitelist .column-ip_from,
	#hctpc_whitelist .column-ip_to,
	#hctpc_whitelist .column-add_time {
		display: none;
	}
}

@media only screen and ( max-width: 480px ) {
	#hctpc_whitelist .bulkactions {
		float: none;
	}
	#hctpc_whitelist .tablenav-pages {
		display: block;
		margin-bottom: 10px;
		float: none;
		clear: both;
	}
	#hctpc_whitelist .tablenav-pages .displaying-num {
		position: static;
	}
	#hctpc_whitelist .column-add_reason {
		display: none;
	}
	.hctpc_add_ons_link {
		display: block;
		float: none;
		clear: both;
		margin: 10px 0;
	}
}